.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111111;
    color: #ffffff;
    padding: 1rem 2rem;
    width: 100%;
    /*position: sticky;*/
    /*box-shadow: 0 0 6px white;*/
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-sizing: border-box;
}

.navbar {

}

.logo-link {
    text-decoration: none;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 2rem;
}

.active-link {
    color: orange;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: lighter;
    cursor: pointer;
}

.basket-block {
    width: 120px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    /*height: 65px;*/
    /*background: red;*/
}

.basket {
    max-width: 45px;
    cursor: pointer;
    /*position: fixed;*/
    /*z-index: 5;*/
    /*top: 1rem;*/
    /*right: 1rem;*/
}

.img {
    width: 65px;
    margin-right: 1rem;
}

.basket-total-price {
    font-size: 16px;
    padding: 20px 15px;
    border-radius: 100%;
    /*border: 1px solid orange;*/
    /*background: linear-gradient(45deg, #11100f, black);*/
    color: orange;
    box-sizing: border-box;
    letter-spacing: 2px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: -3rem;*/
}
